<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/headerPage :: headerPage"></div>
<style>
    .chart_con {
        margin: 2em 1em 1em 1em;
        background: aliceblue;
        border-radius: 5px;
        padding-top: 1em;
    }
    .chart_title{
        font-size: 1.1em;
    }
    .form_chart_main {
        margin-top: 2em;
    }
</style>

<body >
<div >
    <div >
        <div th:replace="fragments/headerSide :: headerSide"></div>
    </div>
    <div class="col col-lg-2">
        <div th:replace="fragments/sidebarPage :: sidebarPage"></div>
    </div>
    <div class="col col-lg-10">
        <div class="panel panel-default form_chart_main">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="glyphicon glyphicon-th"></i> chart</h3>
            </div>
            <div class="panel-body">
                <form class="form-inline" role="form" style="float:left;">
                    <div class="form-group has-feedback">
                        <div class="input-group">
                            <div class="input-group-addon">task number</div>
                            <input type="text" class="form-control" id="num" placeholder="Input task number">
                        </div>
                    </div>
                    <button onclick="addTask()" id="queryBtn" type="button" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> add Tasks</button>
                </form>
                <hr style="clear:both;">
                <div class="table-responsive" >
                    <div class=" chart_con" >
                        <div id="main" style="width:100%;height:400px;"></div>
                    </div>
                    <div class=" " >
                        <table id="LAY-app-content-tags" lay-filter="LAY-app-content-tags"></table>
                    </div>
                    <div class=" chart_con" >
                        <div id="main2" style="width:100%;height:420px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
<div th:replace="fragments/footerPage :: footerPage"></div>
<script type="text/javascript">

    function addTask(){
        var url = "/jobs/assign";
        var num = $("#num").val();
        if(num==""){
            layer.msg("number is null!", {time: 3000, icon: 5});
            return;
        }
        var jsonData={};
        jsonData.job_num=num;
        layer.msg('Loading', {
            icon: 16
            ,shade: 0.01
        });
        ajaxPost(url, JSON.stringify(jsonData), function (data) {
            if (data.code == 0) {
                $("#num").val("");
                layer.msg(data.msg, {time: 3000, icon: 1});
                layer.closeAll('loading');
                layui.use(['table'], function() {
                    var table = layui.table;
                    table.render({
                        elem: '#LAY-app-content-tags'
                        ,url: '/job/log/lastOne/num/'+num //模拟接口
                        ,toolbar: '#toolbarDemo' //开启头部工具栏，并为其绑定左侧模板
                        ,defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                            title: 'info'
                            ,layEvent: 'LAYTABLE_TIPS'
                            ,icon: 'layui-icon-tips'
                        }]
                        ,title: 'Jobs List'
                        ,cols: [
                            [
                                {type: 'checkbox', fixed: 'left'}
                                ,{field: 'jobId', width: 100, title: 'jobId', sort: true}
                                ,{field: 'jobSize', title: 'jobSize', minWidth: 100, sort: true}
                                ,{field: 'startDate', title: 'startDate', minWidth: 100, sort: true}
                                ,{field: 'finishDate', title: 'finishDate', minWidth: 100, sort: true}
                            ]
                        ]
                        ,page: true
                        ,limit: 30
                        ,limits: [10, 20, 30, 50, 100,150,200]
                        ,text: 'error'
                    });
                });

            }else {
                layer.msg(data.msg, {time: 3000, icon: 5});
            }
        });
    }

    var ItemId = "Item2_1";
    var myChart = echarts.init(document.getElementById('main'));
    var myChart2 = echarts.init(document.getElementById('main2'));
    var option;
    var pageno=0;
    var pageno2=0;
    loadCPU(pageno);
    function loadCPU(pageno){
        var jsonData={};
        jsonData["pageno"]=pageno;
        var params = JSON.stringify(jsonData);
        var url = "/cpu/load";
        ajaxPost(url, params, function (data) {
            if (data.code == 0) {
                var dataTemp = data.data;
                if(dataTemp.pageno){
                    pageno =dataTemp.pageno;
                }
                if( dataTemp.seriesT.length==0){
                    dataTemp.seriesT=[];
                }
                option = {
                    title: {
                        text: 'CPU Total utilization'
                    },

                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            label: {
                                backgroundColor: '#6a7985'
                            }
                        }
                    },
                    legend: {
                        data: dataTemp.legendT
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            dataZoom: {
                                yAxisIndex: 'none'
                            },
                            dataView: { readOnly: false },
                            magicType: { type: ['line', 'bar'] },
                            restore: {},
                            saveAsImage: {}
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            boundaryGap: false,
                            data: dataTemp.xAxisT
                        }
                    ],
                    yAxis: {
                        type: 'value',
                        axisLabel: {
                            formatter: '{value}% '
                        }
                    },
                    series: dataTemp.seriesT
                };
                myChart2.setOption(option);
                setTimeout(() => {
                    pageno++;
                    loadCPU(pageno) }, 500);
            } else {
                layer.open({
                    title: 'query fail!'
                    ,content:data.msg
                });return;
            }
        });
    }



    loadCPU2(1)
    function loadCPU2(pageno2){
        var jsonData={};
        jsonData["pageno"]=pageno2;
        var params = JSON.stringify(jsonData);
        var url = "/cpu/load/real";
        ajaxPost(url, params, function (data) {
            if (data.code == 0) {
                var dataTemp = data.data;
                if( dataTemp.seriesT.length==0){
                    dataTemp.seriesT=[];
                }
                if(dataTemp.pageno){
                    pageno2 =dataTemp.pageno;
                }
                option = {
                    title: {
                        text: 'CPU  utilization'
                    },

                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            type: 'cross',
                            label: {
                                backgroundColor: '#6a7985'
                            }
                        }
                    },
                    legend: {
                        data: dataTemp.legendT
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            dataZoom: {
                                yAxisIndex: 'none'
                            },
                            dataView: { readOnly: false },
                            magicType: { type: ['line', 'bar'] },
                            restore: {},
                            saveAsImage: {}
                        }
                    },
                    grid: {
                        left: '3%',
                        right: '4%',
                        bottom: '3%',
                        containLabel: true
                    },
                    xAxis: [
                        {
                            type: 'category',
                            boundaryGap: false,
                            data: dataTemp.xAxisT
                        }
                    ],
                    yAxis: {
                        type: 'value',
                        max:'100',
                        axisLabel: {
                            formatter: '{value}% '
                        }
                    },
                    series: dataTemp.seriesT
                };
                myChart.setOption(option);
                setTimeout(() => {
                    pageno2++;
                    loadCPU2(pageno2) }, 500);
            } else {
                layer.open({
                    title: 'query fail!'
                    ,content:data.msg
                });return;
            }
        });
    }

    // loadDefault()
    function loadDefault(){
        var url = "/simulation/cpu";
        ajaxGet(url, "", function (data) {
            if (data.code == 0) {
                setTimeout(() => {
                    loadDefault() }, 500);
            }
        });
    }


</script>
</html>